<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Sample Website</title>
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   </head>
   <body>
      <!-- Header Section-->

      <header>
         <nav>
            <ul>
               <a class="logo">My Personal Information</a>
            </ul>
         </nav>
      </header>
      <!-- Body Section -->

      <div id="home" class="parallax">
         <div>
            <!--profile pic -->
            <article class="profile">
               <header>
                  <figure>
                     <img src="https://storage.googleapis.com/dicoding-project-cloudstorage-bucket/%5BMandatory%5D%20Bangkit%202023%20H1%20-%20Student%20Team%20Meeting%201%20Iven.jpeg" alt="Iven Fesky CC-35" />
                     <h4>Iven Fesky</h4>
                     <h5>Bangkit 2023 student</h5>
                  </figure>
               </header>
            </article>
         </div>
      </div>

      <main>
         <div id="content">
            <article id="mystory" class="card">
               <h4>My Story</h4>
               <hr />
               <p>
                  An enthusiastic sixth-semester university student majoring in Informatics eager to learn and participate in technology-related
                  activities. I enjoy pursuing and improving my understanding of cloud services, alongwith the implementation of data engineering.
               </p>
            </article>

            <article id="mystory" class="card">
               <h4>My Education</h4>
               <hr />
               <ul>
                  <li>Universitas Esa Unggul</li>
                  <li>SMA IT Al-Halimiyah</li>
                  <li>SMP IT Ar-Rudho</li>
               </ul>
            </article>
         </div>
         <!-- additional info Section -->

         <aside>
            <article class="profile card">
               <section class="info_tambah">
                  <h3>Additional Information</h3>
                  <hr />
                  <table>
                     <tr>
                        <th>Age:</th>
                        <td>28 years old</td>
                     </tr>
                     <tr>
                        <th>Phone:</th>
                        <td>+62-8158-5073-XXX</td>
                     </tr>
                     <tr>
                        <th>Email:</th>
                        <td>ivenfesky80@gmail.com</td>
                     </tr>
                  </table>
                  <div class="icon">
                     <a href="https://www.instagram.com/ivenfesky/" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a>
                     <a href="https://www.linkedin.com/in/iven-fesky-018426218/" target="_blank" rel="noopener"
                        ><i class="fa fa-linkedin"></i
                     ></a>
                     <a href="https://github.com/IvenFesky" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
                  </div>
               </section>
            </article>
         </aside>
      </main>
      <!-- Footer Section -->

      <footer>
         <!-- <p>My Persosnal Information&copy; 2022, Christofer Alexander Kumentas</p> -->
      </footer>

      <script src="assets/script.js"></script>
   </body>
</html>
